h1 {
    font-size: 35px;
    text-align: center;
  }

#divBusca{
    border:solid 1px;
    width:350px;
    height: 30px;
  }
  
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:50px;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }

#divBusca {
    margin-left: auto;
    margin-right: auto;  
}

#btnCadastre {
    background-color:#0f8a75;
    color: white;
    height:35px;
    width:115px;
    float: right;
    margin: 0 15px;
    border-radius: 5px;
}
#btnEntrar {
    background-color:white;
    color: rgb(169, 47, 206);
    height:35px;
    width:80px;
    float: right;
    border-color: rgb(169, 47, 206);
    border-radius: 5px;
}

#btnPrimeiroDestaque {
  width: 200px;
  height: 250px;
  margin: 0 50px; 
}

#divDestaque {
  text-align: center;
}

#btnSegundoDestaque {
  width: 150px;
  height: 250px; 
}

#pTextoDestaque {
  text-align: center;
}

#pValorItens {
  text-align: center;
}

.spaceTextoDestaque {
  display: inline-block;
  width: 70px;
}

.spaceValorItens {
  display: inline-block;
  width: 120px;
}

.space {
  display: inline-block;
  width: 50px;
}

#btnComprador {
  background-color:#0f8a75;
    color: white;
    height:35px;
    width:150px;
    float: center;
    border-color: #0f8a75;
    border-radius:5px;
    
} 

#divBotoes{
  text-align: center;
}

#btnVendedor {
  background-color:rgb(169, 47, 206);
  color: white;
  height:35px;
  width:150px;
  float: center;
  border-color: rgb(169, 47, 206);
  border-radius: 5px;
}

#btnAdicionar {
  background-color:#816ae9;
    color: white;
    height:35px;
    width:150px;
    float: center;
    border-color: #816ae9;
    border-radius:5px;
    
} 

#btnComprar {
  background-color:#a72ba0;
    color: white;
    height:35px;
    width:100px;
    float: center;
    border-color: #a72ba0;
    border-radius:5px;
    
} 

#divProduto {
  text-align: left;
}

#btnProduto {
  width: 250px;
  height: 300px;
  margin: 0 50px; 
}

#divFrete {
  margin-right: auto;
  border:solid 1px;
  width:300px;
  height: 30px;  
}

#txtFrete{
  float:left;
  background-color:transparent;
  padding-left:50px;
  font-size:18px;
  border:none;
  height:32px;
  width:200px;
}

#btnContato {
    background-color:#816ae9;
    color: white;
    height:35px;
    width:300px;
    float: center;
    border-color: #816ae9;
    border-radius:5px;
    
} 

#divContato {
  text-align: left;
}