@import url('https://fonts.google.com/specimen/Rubik+Bubbles#standard-styles');

h1 {
    font-family:'Rubik Bubbles','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    text-align: center;
  }

#divBusca{
    border:solid 2px;
    width: 410px;
    height: 32px;
  }
  
#txtBusca{
    font-family:'Rubik Bubbles', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    float:center;
    background-color:transparent;
    padding: right 5px;
    padding: left 5px;
    font-size:22px;
    border:none;
    height:25px;
    width:350px;
  }

#divBusca {
    margin-left: auto;
    margin-right: auto;  
}

#btnCadastre {
    font-family:'Rubik Bubbles', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:#0f8a75;
    color: white;
    height:35px;
    width:115px;
    float: right;
    margin: 0 -1px;
    border-radius: 5px;
}
#btnEntrar {
  font-family:'Rubik Bubbles', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:white;
    color: rgb(169, 47, 206);
    height:35px;
    width:80px;
    float: right;
    border-color: rgb(169, 47, 206);
    border-radius: 5px;
    margin: 0 15px;
}

#btnPrimeiroDestaque {
  width: 200px;
  height: 250px;
  margin: 0 50px; 
}

#divDestaque {
  text-align: center;
}

#btnSegundoDestaque {
  width: 150px;
  height: 250px;
  margin: 0 20px; 
}

#pTextoDestaque {
  font-family:'Rubik Bubbles', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

#pValorItens {
  font-family:'Rubik Bubbles', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;

}

.spaceTextoDestaque {
  display: inline-block;
  width: 100px;
}

.spaceValorItens {
  display: inline-block;
  width: 160px;
  
}

.space {
  display: inline-block;
  width: 30px;
}

#btnComprador {
  font-family:'Rubik Bubbles', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:#0f8a75;;
  color: white;
  height:35px;
  width:150px;
  float: center;
  border-color: #0f8a75;
  border-radius: 5px;
    
} 

#divBotoes{
  text-align: center;
}

#btnVendedor {
  font-family:'Rubik Bubbles', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:rgb(169, 47, 206);
  color: white;
  height:35px;
  width:150px;
  float: center;
  border-color: rgb(169, 47, 206);
  border-radius: 5px;
}

#btnBusca{
  float: right;
  background-color: transparent;
  height: auto;
  width: auto;
  color: black;
  border-radius: auto;
}

#btnGeek{
  display: block;
  margin-left: auto;
  margin-right: auto;
  image-resolution: auto;
}
